#feriado{
    color: red;
    background-color: rgb(66, 12, 88);
}
table, td, th, tr{
    border: 1px solid black;
    text-align: center;
}
td{
    width: 50px;
    height: 40px;
}
th{
    background-color: aquamarine;
}